@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

body {
  background: #343a40;
}

.fa-shopping-bag {
  font-size: 30px;
  color: white;
  z-index: 10;
  margin-right: 10px;
}

.count {
  font-size: 25px;
  color: white;
}

.bg-dark {
  background-color: #171717;
  height: 80px;
}

.navbar-dark .navbar-brand {
  font-size: 50px;
  font-family: "Lobster";
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 24px;
}

.navbar-expand-lg .navbar-collapse {
  text-align: center;
}

.landing-pg {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.landing-pg img {
  width: 100%;
  height: 100%;
}

.ketoOne {
  width: 1200px;
}
.ketoTwo {
  width: 1200px;
}

.explore {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 36.3%;
  width: 650px;
  height: 150px;
}

.explore h1 {
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: "Lobster";
  font-size: 120px;
  color: #fdfbf9;
  letter-spacing: 0.05rem;
  color: #edd94c;
}

.order-opts .btn {
  width: 250px;
  height: 50px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  background: #343a40;
  color: #fdfbf9;
  letter-spacing: 0.05rem;
  position: relative;
  top: 20%;
  left: 40%;
}

.order-opts {
  width: 100vw;
  height: 50vh;
  display: flex;
}

.online {
  width: 1000px;
  height: 100vh;
}

.online img {
  height: 50%;
  width: 100%;
}

.menu-options {
  width: 1000px;
  height: 100vh;
}

.food {
  width: 100vw;
  height: 100vh;
}

.food img {
  width: 100%;
  height: 100%;
}
.recipes {
  margin-top: 20px;
  width: 100vw;
  height: 100vh;
}

footer {
  font-size: 25px;
  font-weight: bold;
  height: 50vh;
  width: 100vw;
  background: #f8f5f2;
}

footer ul li {
  margin-top: 100px;
}


.modal-body{
  overflow: scroll;
  overflow-x: hidden;
  padding: none;
  flex: .9;
}

.shopping-bag{
  width: 100%;
  height: 550px;
  background: transparent;
  z-index: 10;
  text-align: center;
  font-family: "Teko";	
  overflow: scroll;
  overflow-x: hidden;

}

.shopping-bag::-webkit-scrollbar{
    width: 12px;
  }

.shopping-bag::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #FDFBF9; 
  background-color: #FDFBF9;
}

.shopping-bag::-webkit-scrollbar-thumb {
  background: #343a40; 
}

.shopping-bag::-webkit-scrollbar-corner {
background: #FDFBF9;
}


.shopping-bag table {
  color: #0C1559;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    
minmax(180px, 1fr)
    minmax(200px, 1fr)      
    minmax(0px, 1fr)
    minmax(150px, 1fr)
   
    minmax(0px, 1fr)
    minmax(150px, 1fr) 
    minmax(2000px, 1fr) 
    minmax(0, 1fr)
   
    minmax(0, 1fr)
    
}


.shopping-bag #image{
width: 100px;
height: 100px;	
}

.shopping-bag .pic{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-top: -10px;	
}

.shopping-bag thead,
.shopping-bag tbody,
.shopping-bag tr {
  display: contents;
}

.shopping-bag th,
.shopping-bag td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Teko";
  
}

.shopping-bag th {
  position: sticky;
  background: #343a40;
  text-align: center;
  font-weight: normal;
  font-size: 21px;
  color: #FDFBF9;
  margin-left: -50px;
  margin-top: -40px;
  padding: 50px;
  height: 10px;	
 letter-spacing: .1rem;	
}

.shopping-bag td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0C1559;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.shopping-bag td:last-child {
  width: 8rem;
}

.shopping-bag th:last-child {
  width: 5rem;
}

.shopping-bag .fa-times-circle-o{
  font-size: 20px;
  color: #B2022F;
  cursor: pointer;
}

.item-total{
margin-left: -50px;
font-size: 30px;	
}

.increase{
font-size: 22px;
}

.item-qty{
width: 55px;
height: 30px;
outline: none;
background: transparent;
font-family: "Teko";
font-size: 18px;
text-align:center;
padding-top: 5px;	
border: 3px solid #0C1559;
border-radius: 20px;
transition: 0.5s;	
}

.carttotal{
width: 450px;
height: 50px;
font-size: 25px;
color: #0C1559;
position: absolute;
left: 0;
margin-left:10
}

.carttotal h1{
font-size: 30;
font-weight: bold; 
color: #343a40;  
}
